body {
    background-color: rgb(25,25,112); /*change to a darker blue*/
    /*background-image: url(media/rainglass.png); change picture*/
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
	background-size: 100% auto;
}

#novelDiv   {
    width: 800px;
    height: 600px;
    border: 2px solid blue;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
}

header  {
    text-align: center;
    height: 5%;
}

/*font color*/
h1  {
    text-align: center;
    color: white;
    font-size: 64px;
    margin: 150px;
}

/*my buttons will look a certian way*/
input  {
    background-color: gray;
    color: white;
    padding: 8px 18px;
    text-decoration: none;
    margin: 15px;
    cursor: pointer;
    font-size: 20px;
    border: 2px solid;
    border-radius: 12px;
}

input:hover {
   box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
   color: white;
   background-color: blue;
}

#dboxDiv {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    position: absolute;
    width: 790px;
    height: 140px;
    top: 450px;
    left: 0;
    padding-left: 10px;
    padding-top: 10px;
    background-color: #3d372c;
    color: white;
    text-align: left;
    opacity: 0.90;
    border-radius: 12px;
}

#background0, #background1  {
    width: 800px;
    height: 600px;
}

#nexto {
   right: 0;
   bottom: 0;
   position: absolute;
   left: 785px;
}

#ticktock   {
   right:10;
   bottom: 10;
}

/*the protangonist position*/
.image1  {
   position: absolute;
   top: 100px;
   left: 70px;
}
/*Haru position*/
.image  {
   position: absolute;
   top: 100px;
   left: 450px;
}

#notLeave   {
   position: absolute;
   top: 200px;
   left: 450px;
   color: white;
   font-weight: bold;
}

#badend  {
   font-size: 36px;
   font-weight: bold;    
   font-family: Arial, Helvetica, sans-serif;
   color: red;
   text-align: center;
   background-image: url(media/rainglass.png);
   width: 85%;
   margin: auto;
   margin-top: 5%;
   text-outline: 2px 2px black;
}

/*#lastpic {
   height: 40%;
   width: 85%;
   margin: auto;
   margin-top: 5%;
   background-image: url(media/rainphoto.jpg);
}*/

#ticktock   {
   font: 26px;
   font-weight: bold;
   color: white;
}

#says   {
   font: 22px;
   font-weight: bold;
   color: white;
}

#autoFW  {
   color: white;
   font-weight: bold;
}

fieldset {
   width: 100px;
   color: white;
   font-weight: bold;
   left: 785px;
   position: absolute;
}

#name {
   text-align: center;
   border-radius: 8px;
   font: 16px;
}
